<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="splashExtension" name="Splash Extensions" schema="schema/splashExtension.exsd"/>

     <extension
         point="org.eclipse.core.runtime.applications"
         id="app"
         name="%appName">
      <application>
         <run
            class="com.idega.app.eplatform.BrowserApp">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            id="com.idega.app.eplatform.browserPerspective"
            name="%perspectives.browser.name"
            class="com.idega.app.eplatform.BrowserPerspectiveFactory"
			fixed="false"/>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="com.idega.app.eplatform"
            name="%views.category.name"/>
      <view
            id="com.idega.app.eplatform.browserView"
            name="%views.browser.name"
            icon="icons/eclipse.gif"
            class="com.idega.app.eplatform.BrowserView"
            category="com.idega.app.eplatform"
            allowMultiple="true"/>
      <view
            id="com.idega.app.eplatform.historyView"
            name="%views.history.name"
            icon="icons/eclipse.gif"
            class="com.idega.app.eplatform.HistoryView"
            category="com.idega.app.eplatform"/>
   </extension>
   <extension
         point="org.eclipse.core.runtime.products"
         id="product">
      <product
            application="com.idega.app.eplatform.app"
            name="%productName">
         <property
               name="appName"
               value="%productName"/>
         <property
               name="windowImages"
               value="icons/eplatform4-16.png,icons/eplatform4-32.png,icons/eplatform4-48.png,icons/eplatform4-64.png,icons/eplatform4-128.png"/>
         <property
               name="aboutText"
               value="%aboutText"/>
         <property
               name="aboutImage"
               value="splash.png"/>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini"/>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Browser"
            id="com.idega.app.eplatform.commands.browserCategory"/>
      <command
            categoryId="com.idega.app.eplatform.commands.browserCategory"
            name="Back"
            id="com.idega.app.eplatform.commands.back"/>
      <command
            categoryId="com.idega.app.eplatform.commands.browserCategory"
            name="Forward"
            id="com.idega.app.eplatform.commands.forward"/>
      <command
            categoryId="com.idega.app.eplatform.commands.browserCategory"
            name="Stop"
            id="com.idega.app.eplatform.commands.stop"/>
      <command
            categoryId="com.idega.app.eplatform.commands.browserCategory"
            name="Refresh"
            id="com.idega.app.eplatform.commands.refresh"/>
      <command
            categoryId="com.idega.app.eplatform.commands.browserCategory"
            name="New Tab"
            id="com.idega.app.eplatform.commands.newTab"/>
      <command
            categoryId="com.idega.app.eplatform.commands.browserCategory"
            name="History"
            id="com.idega.app.eplatform.commands.history"/>
      <command
            categoryId="com.idega.app.eplatform.commands.browserCategory"
            name="Easter Egg"
            id="com.idega.app.eplatform.commands.easterEgg"/>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <scheme
            name="Browser Keys"
            id="com.idega.app.eplatform.keyConfiguration"/>
      <key
            commandId="com.idega.app.eplatform.commands.back"
            sequence="M3+ARROW_LEFT"
            schemeId="com.idega.app.eplatform.keyConfiguration"/>
      <key
            commandId="com.idega.app.eplatform.commands.forward"
            sequence="M3+ARROW_RIGHT"
            schemeId="com.idega.app.eplatform.keyConfiguration"/>
      <key
            commandId="com.idega.app.eplatform.commands.stop"
            sequence="ESC"
            schemeId="com.idega.app.eplatform.keyConfiguration"/>
      <key
            commandId="com.idega.app.eplatform.commands.refresh"
            sequence="F5"
            schemeId="com.idega.app.eplatform.keyConfiguration"/>
      <key
            commandId="com.idega.app.eplatform.commands.newTab"
            sequence="M1+T"
            schemeId="com.idega.app.eplatform.keyConfiguration"/>
      <key
            commandId="com.idega.app.eplatform.commands.history"
            sequence="M1+H"
            schemeId="com.idega.app.eplatform.keyConfiguration"/>
      <key
            commandId="com.idega.app.eplatform.commands.easterEgg"
            sequence="M1+M2+E"
            schemeId="com.idega.app.eplatform.keyConfiguration"/>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="com.idega.app.eplatform.BrowserPreferenceInitializer"/>
   </extension>
   <extension
         point="org.eclipse.ui.splashHandlers">
      <splashHandler
            class="com.idega.app.eplatform.splashHandlers.ExtensibleSplashHandler"
            id="com.idega.app.eplatform.splashHandlers.extensible">
      </splashHandler>
      <splashHandlerProductBinding
            productId="com.idega.app.eplatform.product"
            splashId="com.idega.app.eplatform.splashHandlers.extensible">
      </splashHandlerProductBinding>
   </extension>
   <extension
         point="com.idega.app.eplatform.splashExtension">
      <splashExtension
            icon="icons/af.png"
            id="af"
            tooltip="Application Framework">
      </splashExtension>
      <splashExtension
            icon="icons/embedded.png"
            id="embedded"
            tooltip="Embedded">
      </splashExtension>
      <splashExtension
            icon="icons/enterprise.png"
            id="enterprise"
            tooltip="Enterprise">
      </splashExtension>
      <splashExtension
            icon="icons/languages.png"
            id="languages"
            tooltip="Languages">
      </splashExtension>
      <splashExtension
            icon="icons/rcp.png"
            id="rcp"
            tooltip="RCP">
      </splashExtension>
   </extension>

</plugin>
